body {
  font-family: "Nunito Sans", sans-serif !important;
  font-weight: 300;
  font-style: normal;
  font-size: 18px !important;
  line-height: 30px;
}

a {
  text-decoration: none !important;
}

.pm_boxRss a {
  color: #831933;
  transition: all 1s;
}

.CerrarBarra a,
.SearchIcon a {
  color: #000;
}

.CerrarBarra a:hover,
.SearchIcon a:hover {
  color: #831933;
}

a:hover {
  color: #252527;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-style: normal;
}

section {
  width: 100%;
  padding: 60px 0;
  background-color: #fff;
}

.pm_colorPrimarioBack {
  background-color: #831933;
}

.pm_colorPrimarioFont {
  color: #831933;
}

.pm_colorAcentoBack {
  background-color: #83193317;
}

.pm_colorAcentoSecundarioBack {
  background-color: #25252717;
}

.pm_sectionSombra {
  background: #c3b09d;
  background: -moz-linear-gradient(
    180deg,
    rgba(195, 176, 157, 1) 0,
    rgba(255, 255, 255, 0) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(195, 176, 157, 1) 0,
    rgba(255, 255, 255, 0) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(195, 176, 157, 1) 0,
    rgba(255, 255, 255, 0) 100%
  );
}

.pm_lineaCenter {
  margin: 0 auto 60px;
}

.pm_tituloSeccion h2 {
  border-bottom: none;
}

.pm_tituloIzquierda {
  text-align: left;
}

.barraAnuncios span a {
  color: #000;
}

.barraAnuncios span a:hover {
  color: #821b34;
  text-decoration: underline;
}

.pm_tituloSeccion {
  font-size: 40px;
}

.pm_tituloSeccion h1 {
  text-align: left;
}

/* .pm_tituloSeccion.pm_margenPrincipal {
  margin-top: 113px;
} */

.pm_divisionTitulo {
  width: 250px;
  height: 4px;
  display: inline-block;
  margin-bottom: 60px;
}

.pm_boxImg {
  width: 100%;
}

.pm_boxImg img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 15px;
}

.pm_boxImgGde img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 15px;
}

.pm_boxBullets {
  padding: 20px;
  border-radius: 15px;
  box-shadow: 5px 5px 27px #ccc;
}

.pm_boxBullets ul li {
  padding-left: 2rem;
  background-image: url(../images/landing-marca/star.svg);
  background-position: 0 4px;
  background-size: 1.2rem 1.2rem;
  background-repeat: no-repeat;
  list-style-type: none;
}

.pm_boxTimeLine {
  width: 100%;
  overflow: hidden;
  overflow-x: scroll;
}

.pm_timeLine {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
}

.pm_fecha {
  margin-bottom: 20px;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pm_li.pm_complete .pm_infoTimeLine {
  border-top: 2px solid #252527;
}

.pm_infoTimeLine {
  padding: 0 30px;
  display: flex;
  justify-content: center;
  border-top: 2px solid #d6dce0;
  position: relative;
  padding-top: 15px;
  width: 291px;
  height: 125px;
  font-size: 15px;
  line-height: 20px;
}

.pm_li.pm_complete .pm_infoTimeLine:before {
  background-color: #831933;
  border: none;
}

.pm_infoTimeLine:before {
  content: "";
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 18px;
  border: 1px solid #ddd;
  position: absolute;
  top: -11px;
  left: 42%;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #83193317;
  border-radius: 20px;
  height: initial;
}

::-webkit-scrollbar:window-inactive {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #831933;
  border-radius: 6px;
}

.pm_instruccionesTime {
  margin-top: 10px;
  display: block;
}

.pm_descripcionValores {
  width: 51%;
  margin: 0 auto 60px;
  text-align: center !important;
  float: initial;
}

.pm_listaValores {
  list-style-type: none;
}

.pm_valor {
  display: inline-block;
  margin: 20px 28px;
  font-size: 25px;
}

.pm_valor i {
  color: #831933;
}

.pm_boxMisVis {
  padding: 20px;
  border-radius: 15px;
  height: 425px;
}

.pm_boxRss i {
  margin: 0 20px;
  font-size: 30px;
}

.pm_tituloMail {
  margin-top: 50px;
  font-size: 20px;
}

.pm_tituloMail p {
  margin-top: 10px;
}

footer a:hover {
  color: #006d8c;
  text-decoration: underline !important;
}

:root {
  --primario: #831933;
  --black: #000000;
}

.dgm-container-fluid {
  --dgm-primario: #831933;
  --dgm-black: #000000;
  --dgm-white: #ffffff;
  --dgm-text-gray: #e0e0e0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  padding: 80px 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.dgm-container-fluid *,
.dgm-container-fluid ::after,
.dgm-container-fluid ::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.dgm-main-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.dgm-header {
  text-align: center;
  margin-bottom: 60px;
}

.dgm-title {
  font-size: 42px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin-bottom: 15px;
  color: var(--dgm-primario);
}

.dgm-description {
  font-size: 18px;
  color: var(--dgm-black);
  max-width: 100%;
  margin: 50px auto;
  text-align: center !important;
}

.dgm-subtitle {
  font-size: 28px;
  font-weight: 700;
  color: var(--dgm-primario);
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
}

.dgm-subtitle::after {
  content: "";
  display: block;
  width: 30%;
  height: 4px;
  background-color: var(--dgm-primario);
  margin: 10px auto 0 auto;
  border-radius: 2px;
}

.dgm-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 30px;
}

.dgm-card {
  background: var(--dgm-primario-alpha);
  backdrop-filter: blur(10px);
  border: 1px solid var(--dgm-text-gray);
  border-radius: 20px;
  overflow: hidden;
  transition:
    transform 0.3s ease,
    border-color 0.3s ease;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.dgm-card:hover {
  transform: translateY(-10px);
  border-color: var(--dgm-primario);
  background: var(--dgm-primario-alpha);
}

.dgm-card.hidden {
  display: none;
}

.dgm-card__img-container {
  padding: 20px 20px 0 20px;
}

.dgm-card__img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 15px;
  filter: grayscale(20%);
  transition: filter 0.3s ease;
}

.dgm-card:hover .dgm-card__img {
  filter: grayscale(0);
}

.dgm-card__content {
  padding: 25px;
}

.dgm-card__name {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
  color: var(--dgm-primario);
}

.dgm-card__role {
  display: block;
  font-size: 14px;
  color: var(--dgm-black);
  font-weight: 500;
  margin-bottom: 15px;
  text-align: center;
}

.dgm-card__socials {
  display: flex;
  gap: 14px;
  justify-content: center;
  margin-top: 12px;
}

.dgm-card__social {
  font-size: 18px;
  color: var(--dgm-primario);
  transition:
    transform 0.2s ease,
    color 0.2s ease;
}

.dgm-card__social:hover {
  transform: scale(1.2);
}

.dgm-grid-tabs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 2rem;
}

.dgm-tabs {
  display: flex;
  margin: 50px auto;
  gap: 1rem;
  margin-bottom: 2rem;
  justify-content: center;
}

.dgm-tab-btn {
  padding: 0.7rem 1.5rem;
  border-radius: 30px;
  border: 1px solid var(--dgm-primario);
  background: 0 0;
  color: var(--dgm-primario);
  font-family: var(--dgm-montserrat);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dgm-tab-btn:hover {
  background: var(--dgm-primario-alpha);
}

.dgm-tab-btn.active {
  background: var(--dgm-primario);
  color: var(--dgm-white);
}

.card-MisVis {
  border: 1px solid #e5e5e5;
  padding: 30px;
  border-radius: 12px;
  height: 100%;
}

.linea-divisora-MisVis {
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: #831933;
}

@media (max-width: 768px) {
  .dgm-title {
    font-size: 32px;
  }

  .dgm-container-fluid {
    padding: 50px 15px;
  }
}

@media (max-width: 575.98px) {
  .pm_boxImg {
    margin-bottom: 20px;
  }

  .pm_descripcionValores {
    width: 100%;
  }

  .pm_valor {
    margin: 15px 40px;
  }

  .pm_boxMisVis {
    padding: 20px;
    border-radius: 15px;
    height: auto;
    margin: 20px 0;
  }

  .pm_boxRss i {
    margin: 10px 20px;
    font-size: 25px;
    display: inline-block;
  }

  .pm_tituloMail p {
    font-size: 15px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .pm_boxImg {
    margin-bottom: 20px;
  }

  .pm_descripcionValores {
    width: 100%;
  }

  .pm_valor {
    margin: 7px 18px;
  }

  .pm_boxMisVis {
    padding: 20px;
    border-radius: 15px;
    height: auto;
    margin: 20px 0;
  }

  .pm_boxRss i {
    margin: 0 10px;
    font-size: 25px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .pm_boxImg img {
    height: 530px;
  }

  .pm_boxImgGde img {
    height: 668px;
  }

  .pm_descripcionValores {
    width: 90%;
  }

  .pm_valor {
    margin: 15px 27px;
  }

  .pm_boxMisVis {
    height: 630px;
  }

  .pm_valor {
    margin: 15px 24px;
    font-size: 22px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .pm_boxImg img {
    height: 580px;
  }

  .pm_boxImgGde img {
    height: 547px;
  }

  .pm_valor {
    margin: 20px 10px;
    font-size: 20px;
  }

  .pm_boxMisVis {
    height: 540px;
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .pm_boxImg img {
    height: 470px;
  }

  .pm_valor {
    margin: 20px 12px;
  }

  .pm_boxMisVis {
    height: 471px;
  }
}
