
br{
	display: none;
}
.svg-inline--fa.fa-angle-down.fa-w-10{
	font-size: 10px;
	background: #006d8c;
	color: #fff;
	width: 14px;
	height: 14px;
	border-radius: 11px;
	text-align: center;
	padding: 2px;
	margin: -1px 5px;
}
.header2020{
	width:-webkit-fill-available;width:-moz-available;
	display: inline-block;
	position:fixed;
	top:0;
	left:0;
	z-index:33;
}
.barraAnuncios{
	width: -webkit-fill-available;
    width: -moz-available;
	font-family:'Open Sans',sans-serif;
	font-size:13px;
	line-height: 15px;
	width:-webkit-fill-available;width:-moz-available;
	float:left;
	height:50px;
	background:#f0f0f2;
	padding:6px 0px;
	position:relative}

.conoceGin{
	float:left;
	border-right:solid #ababad 1px;
	cursor:pointer;
	margin-left: 10px;
}
.barraAnuncios img{
	width:84px;float:left;padding:3px 0
}
.barraAnuncios span{
	float:left;padding:9px 10px;
}
.elementosGin span a{
	color:#424244;text-decoration:none;
}
.elementosGin span a:hover,.barraDescargaRev span a:hover,.conoceGin:hover{
	color:#006d8c;
}
.barraAnuncios i,.barraDescargaRev span a i{
	font-size:18px;
	line-height: 16px;
	color:#006d8c;
	width:auto;
	height:auto;
	border-radius:11px;
	text-align:center;
	float:right;
	padding:0;
	margin:0 6px;
}
.anunciateGin{
	float:left;
	border-radius:50px;
	margin-left:14px;
}
.anunciateGin span a{
	color:#000;text-decoration:none;
}
.anunciateGin span a:hover{
	color:#006d8c
}
.barraDescargaRev{
	float:right;
	text-align:right;
	width:auto;
	border-radius:50px;
	margin:0 23px;
	border:solid #006d8c 1px;
	padding:0 78px 0 0;
	position:relative;
}
.barraDescargaRev img{
	width:76px;
	right:0;
	transform:rotate(-20deg);
	transform:rotate(-20deg);
	transform:rotate(-20deg)
}
.imgBarraRev{
	position:absolute;z-index:3;
	background:transparent!important;
	width:auto!important;
	padding:11px 1px 0 18px !important;
	margin:0!important;
	border-radius:0!important;
	right:0;
	height:52px;
	overflow:hidden;
	top:-10px
}

.barraDescargaRev span {
	background:#fff;
	width:-webkit-fill-available;width:-moz-available;
	float:left;
	padding:2px 16px;
	margin:4px;
	border-radius:50px
}

.barraDescargaRev span a {
	color:#313136;
	text-decoration:none;
	padding:2px 0;
	float:left;
	width:-webkit-fill-available;width:-moz-available
}

.marcasGin {
	overflow-y:scroll;
	height:50px;
	display:inline-flex;
	width:77%;
	float:left;
	overflow-y:hidden
}

.marcasGin span {
	float:left;
	width:auto;
	margin:17px 20px;
	padding:0;
	font-size: 14px;
	line-height: 18px;
	font-weight:400;
}
.marcasGin span a{
	color:#252527;
	text-decoration:none;
	display:flex;
	inline-size:max-content;
}
.marcasGin span a:hover{
	color:#006d8c;
}

.sitiosGin2020 {
    display: none;
    width: -webkit-fill-available;
    width: -moz-available;
    background: #f0f0f2;
    padding: 0px;
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    z-index: 4;
}
.sitiosGin2020 span {
    float: left;
    width: auto;
    font-size: 15px;
    margin: 14px 20px;
}

/*.linTapar {
    float: left;
    height: 3px;
    width: -webkit-fill-available;
    width: -moz-available;
    background: #2b2b2e;
    position: absolute;
    bottom: 0;
}
.linTapar.sG {
    background: #e9e9ea;
}
.linTaparCv {
    background: #f23e41;
}*/

.swipe.sitios button{
	color:#027ebe;
	display: inline-block;
}
.swipe.sitios button:hover{
	color:#313136;
	cursor: pointer;
}
.swipe.sitios i{
	background:transparent;
	color:#027ebe;
	font-size:20px;
	padding:0;
	float:left;
	margin:0;
}

.cerrarSitiosGin{
	height: 100%;
	position:absolute;
	right:0;
	cursor:pointer;
	display: flex;
	align-items: center;
	margin-right: 20px;
}
.cerrarSitiosGin i{
	font-size:30px!important;
	width:auto!important;
	height:auto!important;
	border-radius:50px!important;
	margin: 0;
	padding: 0;
}
.cerrarSitiosGin i:hover{
	color:#000
}
/*.svg-inline--fa.fa-times-circle.fa-w-16{
	color: #85888a!important;
	background: #fff!important;
	font-size: 30px!important;
	line-height: 35px;
	width: 25px!important;
	height: 100%!important;
	border-radius: 50px!important;
	float: right;
}*/


.txtMobileDesc
{
	display:none;
}
.txtDeskDesc{
	display:block
}

.vD {
    margin-bottom: 0px;
    text-align: center!important;
    /*padding-left: inherit!important;
    margin: 2px 0px 0px 0px!important;
    float: none;*/
}

.allCookies{
	width: -webkit-fill-available;
    width: -moz-available;    
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 20px;
	
}
.allCookies button{width:100%;background:#ededee;border-radius:50px;padding:0 14px;font-size:20px;margin:0;outline:none;border:0;-webkit-transition:background 1s,border-radius 1s;transition:background 1s,border-radius 1s;position:relative;z-index:1}
.allCookies button:hover{background:#e4e4e4;border-radius:5px;cursor:pointer}
.CookiesPolitica{width:-webkit-fill-available;width:-moz-available;float:left;text-align:left;margin-top:1px;font-size:14px;color:#000;margin-left:8px;text-transform:uppercase;font-weight:700;letter-spacing:1px;padding:13px 0}
.CookiesPolitica.Autobild{color:#de1519}.CookiesPolitica.Bleublanc{color:#8888cf}
.CookiesPolitica.CocinaVital{color:#f26565}.CookiesPolitica.Diabetes{color:#32b3ee}
.CookiesPolitica.Dondeir{color:#007cc5}
.CookiesPolitica.FCH{color:#205e9b}
.CookiesPolitica.Futboltotal{color:#2849dc}
.CookiesPolitica.Gourmet{color:#ed4f05}
.CookiesPolitica.Luvan{color:#40a9be}
.CookiesPolitica.M10{color:#ff6767}
.CookiesPolitica.Open{color:#009bbe}
.CookiesPolitica.Playboy{color:#a72424}
.CookiesPolitica.SomosCDMX{color:#c3242a}
.CookiesPolitica.Soygrupero{color:#c64630}
.boton-flor{width:37px;margin:0;float:right;border-radius:100%;overflow:hidden;background:transparent;-webkit-transition-duration:.2s;transition-duration:.2s;position:absolute;z-index:2;top:6px;right:17px}
.boton-flor:before{content:"";position:absolute;z-index:-1;top:0;left:0;right:0;bottom:0;background:transparent;border-radius:100%;-webkit-transform:scale(0);transform:scale(0);-webkit-transition-property:transform;transition-property:transform;-webkit-transition-duration:.3s;transition-duration:.3s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out}
.boton-flor:hover,.boton-flor:focus,.boton-flor:active{-webkit-transform:scale(1.2);transform:scale(1.2)}
.boton-flor:hover:before,.boton-flor:focus:before,.boton-flor:active:before{-webkit-transform:scale(1.4);transform:scale(1.4)}
.animatedModal{
	position:fixed;
	z-index:3;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:#171719ba;
	overflow-y:auto;
	z-index:9999;
	opacity:1;
	animation-duration:.6s;
	display:none;
	align-items:center;
	justify-content:center
}
.modal-content-cookie{width:500px;height:500px;background:#fff;color:#000!important;padding:118px;font-size:18px;text-align:center;border-radius:910px;position:absolute;z-index:2;left:50%;top:50%;-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.modal-content-cookie span{
	width:-webkit-fill-available;width:-moz-available;
	display: inline-block;
	margin-top:15px;
	text-align: center;
}

.modal-content-cookie span a{color: #0e83ae;
    font-weight: 700;
    text-decoration: underline;
}
#btn-close-modal{width:auto;text-align:center;cursor:pointer;color:#de1519;font-size:37px;float:right;position:absolute;z-index:3;top:44px;right:234px}
#btn-close-modal:hover{opacity:.7}



@media only screen and (max-width : 979px){

.barraDescargaRev{
	padding:0 27px 0 0;
	width:36%
}

.barraDescargaRev span {
    padding: 2px 45px 2px 5px;
}

.barraAnuncios{padding:6px 0 6px 15px}
.imgBarraRev{right:-29px}

}

@media only screen and (max-width : 767px){
.vD {
    margin: 0px;
}
.sitiosGin2020 {
        top: 27px;
}

.modal-content-cookie{width:400px;height:400px;padding:70px;font-size:16px}
.modal-content-cookie span{margin-top:41px}
#btn-close-modal{right:186px}
.CookiesPolitica{width:86%;font-size:12px}
.boton-flor{top:4px}
.anunciateGin{
	position:absolute;
	top:0;
	left:0;
	width:-webkit-fill-available;width:-moz-available;
	border-radius:0;
	margin:0;
	text-align:center;
	padding:2px 0;
	border-bottom: 1px solid #ccc;
	display: flex;
    align-items: center;
    justify-content: center;
}
.barraAnuncios span{float:none;padding:0}
.barraAnuncios img{width:75px;padding:6px 0}
.imgBarraRev{right:-24px;width:84px!important}
.barraAnuncios{height:73px;background:#f0f0f2;padding:30px 0 6px 0px}
.txtMobileDesc{display:block;text-align:center;padding:0 10px!important;font-size:12px}
.txtMobileDesc strong{margin-top:-19px;float:left;width:-webkit-fill-available;width:-moz-available}
.txtDeskDesc{display:none}
.conoceGin2020{float:left!important;padding:9px 3px!important}
.linksDescarga2020{float:left!important}
.barraDescargaRev{
	padding:0 35px 0 0;
	width:40%;
	/*width:inherit;*/
	background:#f0f0f2
}
.sitiosGin2020{top:27px}
.marcasGin{width:72%}
}
.cerrarSitiosGin {
    margin-right: 6px;
}

@media only screen and (max-width : 480px){

.modal-content-cookie{width:310px;height:393px;padding:55px;font-size:15px}
.modal-content-cookie span{margin-top:38px}
#btn-close-modal{right:145px;font-size:27px;top:21px}
.CookiesPolitica{width:73%;margin-left:9px;letter-spacing:0;font-size:13px;margin-top:0;text-align:center;padding:9px 0}
.boton-flor{top:10px}
.barraAnuncios img{width:66px;padding:11px 0}
.conoceGin2020{float:left;padding:13px 3px!important}
.barraDescargaRev{
	padding:0 35px 0 0;
	width:47%;
	margin:0
}
.txtMobileDesc strong{font-size:11px;margin-top:-12px;padding:5px 0}
.imgBarraRev img{width:49px}
.imgBarraRev{height:59px;top:-17px}
.barraAnuncios i{
	font-size:20px;
	margin:0 5px
}
.txtMobileDesc{display:block;text-align:center;padding:0 2px!important;}
.marcasGin{width:70%}

.txtMobileDesc strong{font-size:11px;margin-top:-21px;padding:5px 0 0}
}

@media only screen and (max-width : 320px){

.barraDescargaRev{
	width:55%
}
.CookiesPolitica{width:77%;margin-left:9px;letter-spacing:0;font-size:12px;margin-top:0;text-align:center;padding:10px 0}
#btn-close-modal{color:#fff}
.modal-content-cookie span{color:#fff}
.modal-content-cookie span a{font-size:17px;color:#fff}
.boton-flor{top:9px}
.modal-content-cookie{background:transparent;padding:44px}
}